.subscribe {
  margin-top: 50px;
  font-size: 24px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .topWrap {
    .firstComment {
      font-size: 28px;
      margin-top: 20px;
      font-weight: bold;
      color: rgb(62, 62, 62);
    }
  }
  .scrollEvent {
    width: 230px;
    border-bottom: 2px solid;
    margin-top: 50px;
    color: rgb(81, 151, 242);
    display: flex;
    text-align: center;
    margin-bottom: 50px;
  }
}

.mainBanner {
  width: 100%;
  margin-top: 300px;

  .mainBannerImg {
    width: 100%;
    height: 430px;
  }
}

.firstMainText {
  margin-top: 50px;
  font-size: 28px;
  color: #707070;
}
.secondMainText {
  margin-top: 20px;
  font-size: 28px;
  color: #707070;
  font-weight: bold;
}

.subscribeButton {
  width: 206px;
  height: 46px;
  margin-top: 50px;
  background-color: #f4bb5f;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

.firstSubscribeText {
  margin-top: 50px;
  font-size: 28px;
  font-weight: bold;
  color: #f4bb5f;
}

.secondSubscribeText {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #f4bb5f;
}

.landingBanner {
  margin-top: 40px;
  > img {
    width: 680px;
    height: 380px;
    border-radius: 10px;
  }
}

.descriptionWrapper {
  margin-top: 50px;
  .landingIcon {
    margin-top: 60px;
    > img {
      width: 210px;
      height: 110px;
    }

    .firstDescription {
      margin-top: 30px;
      font-size: 18px;
      text-align: center;
      color: #f4bb5f;
      font-weight: bold;
    }

    .secondDescription {
      margin-top: 30px;
      font-size: 18px;
      color: #707070;
      font-weight: bold;
      text-align: center;
    }

    .thirdDescription {
      margin-top: 10px;
      font-size: 18px;
      color: #707070;
      font-weight: bold;
      text-align: center;
    }
  }
}

.dontWorry {
  margin-top: 250px;
  font-size: 28px;
  color: #5197f2;
  font-weight: bold;
}

.recentlyText {
  margin-top: 200px;
  font-weight: bold;
  font-size: 28px;
  color: #707070;
}

.recentylBox {
  width: 430px;
  height: 116px;
  padding: 12px 50px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 3px 0px;
  margin: 30px auto 40px;
  text-align: center;

  > div {
    line-height: 2;
    font-size: 16px;
    color: #707070;
  }
}

.converSationWrapper {
  > img {
    width: 160px;
    height: 160px;
  }
}

.tripDescription {
  margin-top: 100px;
  font-size: 28px;
  color: #f4bb5f;
  font-weight: bold;
}

.startDescription {
  margin-top: 10px;
  font-size: 28px;
  color: #f4bb5f;
  font-weight: bold;
}
