@import '/src/styles/variables.scss';

#cartList {
  // border: 1px solid blue;
  width: 50%;
  margin-top: 40px;
  min-height: 200px;

  // img {
  //   width: 40px;
  //   height: 70px;
  //   border-radius: 10px;
  // }

  .cartListTop {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;

    .cartSelectAllBox {
      .cartCheckAllBox {
        margin-right: 10px;
      }
    }
    // border: 1px solid red;

    .cartSelectedDeleteAll {
      color: $productDetailFontColor;
    }
    .cartSelectedDeleteAll:hover {
      cursor: pointer;
    }
  }
}
