.ProductBoxCard {
  width: calc(100% / 12);
  margin: 0 7px;

  .recommendListImg {
    width: 100%;
    border-radius: 10px;
  }

  .contentWrapper {
    padding: 15px 10px 10px;

    .contentTitle {
      margin-bottom: 18px;
      color: rgb(62, 62, 62);
      font-size: 15px;
      font-weight: bold;
    }

    .price {
      margin-bottom: 9px;
      color: rgb(62, 62, 62);
      font-size: 16px;
      font-weight: bold;
    }

    .scoreAndReview {
      display: flex;
      margin-bottom: 10px;
      align-items: center;

      .score,
      .review {
        font-size: 13px;
      }

      .score {
        margin: 0 8px 0 5px;
        color: rgb(62, 62, 62);
        font-weight: bold;
      }

      .border {
        display: inline-block;
        width: 1px;
        height: 18px;
        background-color: rgb(235, 235, 235);
      }

      .review {
        color: rgb(112, 112, 112);
        margin-left: 7px;
      }
    }

    .hashtags {
      padding-top: 10px;
      border-top: 1px solid rgb(235, 235, 235);
      color: rgb(112, 112, 112);
      font-size: 13px;

      .tag {
        padding: 3px 0;
      }
    }
  }
}
