@import '/src/styles/variables.scss';

.comment {
  .infoContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: $detailBackgroundColor;
    color: $detailFontColor;

    .userId {
      font-weight: bold;
    }

    .elseInfo {
      display: flex;
      justify-content: space-between;
      width: 340px;

      .starRating {
        color: $mainLayoutColor;
      }

      button {
        border: none;
        background-color: transparent;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }
  }

  .showComment {
    height: 130px;
    padding: 20px 40px;
    color: $detailFontColor;
  }
}
