@import '/src/styles/variables.scss';

.productDetail {
  width: 56vw;
  display: flex;
  margin-left: 160px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;

  .detailDescription {
    display: flex;
    font-size: 13px;

    .detailCard {
      .productImg {
        width: 300px;
        height: 400px;
        margin-right: 50px;
      }
    }

    .detailedProduct {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: normal;

      .productTitletoRating {
        height: 120px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        padding-top: 30px;

        .productTitle {
          font-size: x-large;
          margin-bottom: 10px;
        }

        .productElement {
          margin-bottom: 10px;
        }

        .productOrangecolor {
          color: $mainLayoutColor;
          font-size: large;
        }

        .productRating {
          color: $mainLayoutColor;
          font-size: x-large;
          margin-top: 10px;
        }
      }

      .productInfoElement {
        margin-bottom: 10px;
      }

      .productAdditional {
        color: $detailFontColor;
        font-size: normal;
        margin-bottom: 20px;

        .productAdditionalElement {
          margin-bottom: 10px;
        }
      }

      .productValue {
        font-size: 30px;
        margin-bottom: 20px;
      }

      .blueColor {
        color: $productDetailFontColor;
      }
    }
  }

  .hacksim {
    width: 50vw;
    background-color: $detailBackgroundColor;
    border-radius: 6%;
    text-align: center;
    padding: 70px;
    margin: 60px 0;

    .pointFont {
      font-size: 20px;
      color: $detailFontColor;
      margin-bottom: 60px;
    }

    .twoPoint {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .pointEach {
      width: 100%;
      height: auto;
      background-color: white;
      border-radius: 5%;
      text-align: center;
      font-size: 20px;
      color: $detailFontColor;
      position: relative;
      padding: 20px;
      margin-bottom: 50px;

      .pointTitle {
        font-weight: bold;
        margin-bottom: 40px;

        .chartList {
          width: 95%;
          display: flex;
          justify-content: baseline;
          margin-bottom: 100px;
          margin-left: 10px;
        }
      }

      .andrew {
        text-align: center;

        .andrewPictures {
          display: flex;
          justify-content: center;
          margin: 30px 0;

          .andrewPicture {
            display: flex;
            flex-direction: column;

            .foodPicture {
              width: 150px;
              height: 150px;
              border-radius: 50%;
              margin-bottom: 20px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    background-color: $detailBackgroundColor;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 20px 10px;

    textarea {
      width: 100%;
      max-width: 100%;
      min-width: 50%;
      height: 25px;
      max-height: 200px;
      min-height: 25px;
      border: none;
    }

    .submitInfo {
      margin: 20px 0;
    }

    button {
      width: 200px;
      height: 30px;
      border: none;
      border-radius: 6px;

      cursor: pointer;
      background-color: $mainLayoutColor;
      color: whitesmoke;
    }
  }
}
