@import '../../styles/variables.scss';

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: auto;
  padding: 20px;
  color: $detailFontColor;

  .signUpContainer {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 20px;

    .leftSignUpImg {
      margin-right: 70px;
      border-radius: 10px;
      width: 300px;
      height: 500px;
    }

    .signupHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .signupTitle {
        padding: 0 20px;
        margin-bottom: 10px;
        font-size: 30px;
        color: $navFontColor;
      }

      .signUpImg {
        border-radius: 10px;
        width: 300px;
        opacity: 0.7;
      }
    }

    .signUpForm {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .inputText {
        margin-top: 30px;
        font-size: 15px;
      }

      .signUpFormTitle {
        margin-top: 30px;
        color: $navFontColor;
        font-size: 23px;
      }

      .signUpInput {
        margin-top: 10px;
        border-style: none;
        border-bottom: 1.5px solid $navFontColor;
        color: $detailFontColor;
        width: 500px;
        height: 30px;
        &:focus {
          outline: none;
          border-bottom: 3px solid $detailFontColor;
        }
      }

      .emailCheck {
        border-style: none;
        margin-top: 10px;
        width: 100px;
        height: 30px;
        color: $navFontColor;
        background-color: white;
        border: 3px solid $navFontColor;
        cursor: pointer;
      }

      .btnSignUp {
        border-style: none;
        margin-top: 30px;
        width: 200px;
        height: 30px;
        background-color: white;
        color: $navFontColor;
        border: 3px solid $navFontColor;
        cursor: pointer;
        &:hover {
          border: 3px solid rgb(160, 241, 160);
          color: rgb(160, 241, 160);
        }
      }

      .show {
        margin-top: 5px;
        font-size: 11px;
        color: red;
      }

      .hidden {
        display: none;
      }
    }
    .know {
      margin-top: 100px;
      font-size: 20px;
    }
    @media (max-width: 1160px) {
      .leftSignUpImg {
        display: none;
      }
    }
  }
}
