@import '/src/styles/variables.scss';

.cartProduct {
  position: relative;
  height: auto;
  border: 0.5px solid $detailFontColor;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;

  .cartProductTop:nth-child(odd) {
    font-weight: bold;
  }

  .cartProductTop {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;
    border-bottom: 2px solid #d5d4d4;

    .freeDelevery {
      color: $mainLayoutColor;
    }
  }

  .cartProductBottom {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    width: 100%;

    .btnRight {
      width: 90%;
      .cartProductDetail {
        width: 100%;
        .showCartProduct {
          display: flex;
          padding: 5px;
          width: 100%;
          .cartProductImg {
            margin-right: 20px;
            border-radius: 10px;
            width: 50px;
            height: 70px;
          }
          .productOption {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            padding: 5px;
            .productNameAndOption {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
              width: 100%;
              padding: 2px;

              .CartProductName {
                font-weight: bold;
              }
              .cartDeleteProduct {
                border-style: none;
                font-size: 18px;
                background-color: white;
              }
              .cartDeleteProduct:hover {
                cursor: pointer;
              }
            }
            .cartProductOptionReCheck {
              padding: 4px 0px;
              background-color: #d5d4d4;
              border-radius: 5px;
              text-align: center;
            }
          }
        }

        .cartProductCountAndPrice {
          display: flex;
          justify-content: space-between;
          padding: 10px 20px 10px 20px;
          width: 100%;

          .cartProductCountBtn {
            display: flex;
            justify-content: center;
            border: 1px solid black;
            width: 90px;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            .productCounterBtn {
              border-style: none;
              background-color: white;
              border-radius: 4px;
              width: 30px;
            }
            .productCounterBtn:hover {
              cursor: pointer;
            }
            .productCount {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 10px;
              height: 10px;
              margin-bottom: 7px;
            }
          }
        }
      }
      .aProductDetailPrice {
        margin-top: 20px;

        .aProductDetail {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          padding: 0px 20px;
          font-size: 14px;
        }
        .aProductWholeDetail {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          padding: 0px 20px;
          font-size: 18px;
          font-weight: bold;
          border-top: 1px solid black;
          padding: 10px 10px 0px 10px;
          .aProductWholePrice {
            color: rgb(81, 151, 242);
          }
        }
      }
      .SeeMoreProductOfShop {
        border-style: none;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: white;
        width: 100%;
        margin-top: 30px;
        height: 50px;
        font-size: 15px;
        color: black;
      }
      .SeeMoreProductOfShop:hover {
        cursor: pointer;
        color: white;
        background-color: rgb(199, 199, 199);
      }
    }
  }
}
